.navbar {
  background-color: whitesmoke !important;
}
.background{
  background-color: rgb(217, 230, 224);
  width: 100%;
  height: 80%;
}
.nav-item, .nav-item active{
  margin-left:50px;
  font-family: "Dosis Semi Bold";
}





