.title {
  position: absolute;
  font-family: '	Bobby Jones Soft';
  font-weight: bold;
  color: rgb(255,87,87);
  font-size: 75px;
  top: 20%;
  left: 80px;

}

img{
  position: absolute;
  top: 40%;
  left: 600px;
  width: 50%;
  height: 50%;
  
}

#btn{
  position: absolute;
  top: 55%;
  left: 370px;
  background-color:rgb(255,87,87);
  border-radius: 40px;
  border: none;
  font-size: 25px;

}

