
<div class="mapdiv container">
  <div class="row">
    <div class="col-md-4">

      <h1>  <a [routerLink]="['/petshops']"><img class="arrow" src="../../assets/img/arrow-90deg-left.svg"></a> {{petshop?.Title}}</h1>
      <h3 *ngIf="petshop?.Address!=''">Located in: {{petshop?.Address}} </h3>
      <h2>Working hours:</h2>
      <ul>
        <li>Monday: {{petshop?.MondayWorkingHours}}</li>
        <li>Tuesday: {{petshop?.TuesdayWorkingHours}}</li>
        <li>Wednesday: {{petshop?.WednesdayWorkingHours}}</li>
        <li>Thursday: {{petshop?.ThursdayWorkingHours}}</li>
        <li>Friday: {{petshop?.FridayWorkingHours}}</li>
        <li>Saturday: {{petshop?.SaturdayWorkingHours}}</li>
        <li>Sunday: {{petshop?.SundayWorkingHours}}</li>
      </ul>
      <div *ngIf="petshop?.Website">
        <h2>Website: <a href="#" (click)="websiteClicked()" >{{petshop?.Website}}</a></h2>
      </div>
    </div>
    <div class="col-md-8" id="petshop_map"></div>
  </div>
  <div class="form-group">
    <h1>Comment Section</h1></div>
    <div class="row form-group">
    <textarea id="comment" class="form-control" type="text" placeholder="Leave a comment and Rating" [(ngModel)]="comment" name="comment"></textarea>
      <app-custombutton  (click)="addComment()" [matTooltipShown]="buttonDisabled" [matTooltipMsg]='errorMsg'></app-custombutton>
  </div>
    <h1>All comments</h1>
  <div *ngFor="let c of allCommentsFinal">
        <div class="row">
          <div class="col">
            <h3>Comment: {{c.Comment}}</h3>
            <h3>Commented by: {{c.User.Username}}</h3>
          </div>
        </div>
    </div>
  </div>



