
<div class="mapdiv container">
  <div class="row">
    <div class="col-md-8">
      <h1><a [routerLink]="['/petshops']"><img class="arrow" src="../../assets/img/arrow-90deg-left.svg">
      </a> {{data.petshop?.Title}}</h1>
      <div id="petshop_map"></div>
    </div>
    <div class="col-md-4">
      <h3 *ngIf="data.petshop?.Address!=''">Located in:<br> {{data.petshop?.Address}} </h3>
      <h2>Working hours:</h2>
        <ul class="week">
          <li>Monday: {{data.petshop?.MondayWorkingHours}}</li>
          <li>Tuesday: {{data.petshop?.TuesdayWorkingHours}}</li>
          <li>Wednesday: {{data.petshop?.WednesdayWorkingHours}}</li>
          <li>Thursday: {{data.petshop?.ThursdayWorkingHours}}</li>
          <li>Friday: {{data.petshop?.FridayWorkingHours}}</li>
          <li>Saturday: {{data.petshop?.SaturdayWorkingHours}}</li>
          <li>Sunday: {{data.petshop?.SundayWorkingHours}}</li>
        </ul>
      <div *ngIf="data.petshop?.Website">
         <h2>Website: <a href="http://{{data.petshop?.Website}}" >{{data.petshop?.Website}}</a></h2>
    </div>
    <div>
    </div>
    <div *ngIf="commentsForPetshop.length!=0">
      <h1>Comment Section</h1>
      <h2>All comments</h2>
      <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <div *ngFor="let c of commentsForPetshop; let i=index">
          <tr>
            <th scope="col">{{i + 1}}</th>
            <td scope="col">{{c.User.Username}}</td>
            <td scope="col">{{c.Comment}}</td>
          </tr>
        </div>
      </tbody>
      </table>
  </div>
  </div>
  <div class="row newComment">
    <div class="col-md-8">
      <div class="form-group">
        <h2>Haven't left a review already? You can do it here</h2>
        <div class="row">
          <textarea style="width:800px;" cols='20' class="form-control" type="text" placeholder="Leave a comment and Rating" [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <div class="row">
          <app-custombutton class="add-comment" (click)="addComment()" [matTooltipShown]="buttonDisabled" [matTooltipMsg]='errorMsg'></app-custombutton>
        </div>
      </div>
    </div>
</div>
