.bottom{
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 60px;
    background-color:  rgb(24, 41, 48) ;
  
  }
  
  .bottomText{
    position: relative;
    color: rgb(217, 230, 224);
    font-family: "Dosis Semi Bold";
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    top:18%;
    left:34%;
    right:34%;
  }