<div class="container mat-elevation-z8">

    <!--SEARCH-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <!--TABLE-->
    <mat-table matSort *ngIf="dataFetched" [dataSource]="dataSource" >

    <!-- Title Column -->
    <ng-container matColumnDef="Title" >
      <th class="rowBorder"  mat-header-cell *matHeaderCellDef mat-sort-header> 
        TITLE: 
      </th>
      <td class="rowBorder" mat-cell *matCellDef="let element; let i = index" >
          <a [routerLink]="['/petshop/details', element.Id]" routerLinkActive="router-link-active" >
            <div class="row" id="row_id">
              <div class="col-md-5">
              <div class="picture_div">
                <img *ngIf="element.ImgUrl!='' && element.ImgURL!=null" [src]="element.ImgURL" onError="this.src='../../assets/img/petshop1.jpg' " class="picture"/>
                <img *ngIf="!element.ImgURL && i%2 ==0" src="../../assets/img/petshop1.jpg" class="picture"/>
                <img *ngIf="!element.ImgURL && i%2 !=0" src="../../assets/img/petshop2.png" class="picture"/>
              </div>
            </div>
              <div class="col-md-6">
              <div class="title_div">
                {{element.Title}}
              </div>
            </div>
          </div>
        </a>
      </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="Address" >
      <th class="rowBorder" mat-header-cell *matHeaderCellDef mat-sort-header > 
        ADDRESS: 
      </th>
      <td class="rowBorder" mat-cell *matCellDef="let element" >
        {{element.Address}}
      </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="Rating">
      <th class="rowBorder" mat-header-cell *matHeaderCellDef mat-sort-header>
        RATING:
      </th>
      <td class="rowBorder" mat-cell *matCellDef="let element" class="proba">
          <div class="rating_text">
            {{element.Rating}}
          </div>
          <div class="col-md-4">
            <div class='col-md-8'>
              <div class="stars">
                <app-star [rating]="element.Rating"></app-star>
              </div>
            </div>
          </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>

    <!--PAGE-->
    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons >
    </mat-paginator>

</div>

